<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gamehive.mapper.AiGameMapper">
    
    <resultMap type="com.gamehive.pojo.AiGame" id="AiGameResult">
        <result property="id"    column="id"    />
        <result property="aiTypeId"    column="ai_type_id"    />
        <result property="gameTypeId"    column="game_type_id"    />
        <result property="level"    column="level"    />
        <result property="challengedCount"    column="challenged_count"    />
        <result property="winCount"    column="win_count"    />
    </resultMap>

    <sql id="selectAiGameVo">
        select id, ai_type_id, game_type_id, level, challenged_count, win_count from ai_game
    </sql>

    <select id="selectAiGameList" parameterType="com.gamehive.pojo.AiGame" resultMap="AiGameResult">
        <include refid="selectAiGameVo"/>
        <where>  
            <if test="aiTypeId != null "> and ai_type_id = #{aiTypeId}</if>
            <if test="gameTypeId != null "> and game_type_id = #{gameTypeId}</if>
            <if test="level != null "> and level = #{level}</if>
        </where>
    </select>
    
    <select id="selectAiGameById" parameterType="Long" resultMap="AiGameResult">
        <include refid="selectAiGameVo"/>
        where id = #{id}
    </select>

    <insert id="insertAiGame" parameterType="com.gamehive.pojo.AiGame" useGeneratedKeys="true" keyProperty="id">
        insert into ai_game
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="aiTypeId != null">ai_type_id,</if>
            <if test="gameTypeId != null">game_type_id,</if>
            <if test="level != null">level,</if>
            <if test="challengedCount != null">challenged_count,</if>
            <if test="winCount != null">win_count,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="aiTypeId != null">#{aiTypeId},</if>
            <if test="gameTypeId != null">#{gameTypeId},</if>
            <if test="level != null">#{level},</if>
            <if test="challengedCount != null">#{challengedCount},</if>
            <if test="winCount != null">#{winCount},</if>
         </trim>
    </insert>

    <update id="updateAiGame" parameterType="com.gamehive.pojo.AiGame">
        update ai_game
        <trim prefix="SET" suffixOverrides=",">
            <if test="aiTypeId != null">ai_type_id = #{aiTypeId},</if>
            <if test="gameTypeId != null">game_type_id = #{gameTypeId},</if>
            <if test="level != null">level = #{level},</if>
            <if test="challengedCount != null">challenged_count = #{challengedCount},</if>
            <if test="winCount != null">win_count = #{winCount},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAiGameById" parameterType="Long">
        delete from ai_game where id = #{id}
    </delete>

    <delete id="deleteAiGameByIds" parameterType="String">
        delete from ai_game where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>