<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gamehive.mapper.AiTypeMapper">
    
    <resultMap type="com.gamehive.pojo.AiType" id="AiTypeResult">
        <result property="aiId"    column="ai_id"    />
        <result property="aiName"    column="ai_name"    />
        <result property="aiIntroduction"    column="ai_introduction"    />
    </resultMap>

    <resultMap id="AiTypeAiGameResult" type="com.gamehive.pojo.AiType" extends="AiTypeResult">
        <collection property="aiGameList" ofType="com.gamehive.pojo.AiGame" column="ai_id" select="selectAiGameList" />
    </resultMap>

    <resultMap type="com.gamehive.pojo.AiGame" id="AiGameResult">
        <result property="id"    column="id"    />
        <result property="aiTypeId"    column="ai_type_id"    />
        <result property="gameTypeId"    column="game_type_id"    />
        <result property="level"    column="level"    />
        <result property="challengedCount"    column="challenged_count"    />
        <result property="winCount"    column="win_count"    />
    </resultMap>

    <sql id="selectAiTypeVo">
        select ai_id, ai_name, ai_introduction from ai_type
    </sql>

    <select id="selectAiTypeList" parameterType="com.gamehive.pojo.AiType" resultMap="AiTypeResult">
        <include refid="selectAiTypeVo"/>
        <where>  
            <if test="aiId != null "> and ai_id = #{aiId}</if>
            <if test="aiName != null  and aiName != ''"> and ai_name like concat('%', #{aiName}, '%')</if>
            <if test="aiIntroduction != null  and aiIntroduction != ''"> and ai_introduction = #{aiIntroduction}</if>
        </where>
    </select>
    
    <select id="selectAiTypeByAiId" parameterType="Long" resultMap="AiTypeAiGameResult">
        select ai_id, ai_name, ai_introduction
        from ai_type
        where ai_id = #{aiId}
    </select>

    <select id="selectAiGameList" resultMap="AiGameResult">
        select id, ai_type_id, game_type_id, level, challenged_count, win_count
        from ai_game
        where ai_type_id = #{ai_type_id}
    </select>

    <insert id="insertAiType" parameterType="com.gamehive.pojo.AiType" useGeneratedKeys="true" keyProperty="aiId">
        insert into ai_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="aiName != null and aiName != ''">ai_name,</if>
            <if test="aiIntroduction != null">ai_introduction,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="aiName != null and aiName != ''">#{aiName},</if>
            <if test="aiIntroduction != null">#{aiIntroduction},</if>
         </trim>
    </insert>

    <update id="updateAiType" parameterType="com.gamehive.pojo.AiType">
        update ai_type
        <trim prefix="SET" suffixOverrides=",">
            <if test="aiName != null and aiName != ''">ai_name = #{aiName},</if>
            <if test="aiIntroduction != null">ai_introduction = #{aiIntroduction},</if>
        </trim>
        where ai_id = #{aiId}
    </update>

    <delete id="deleteAiTypeByAiId" parameterType="Long">
        delete from ai_type where ai_id = #{aiId}
    </delete>

    <delete id="deleteAiTypeByAiIds" parameterType="String">
        delete from ai_type where ai_id in 
        <foreach item="aiId" collection="array" open="(" separator="," close=")">
            #{aiId}
        </foreach>
    </delete>
    
    <delete id="deleteAiGameByAiTypeIds" parameterType="String">
        delete from ai_game where ai_type_id in 
        <foreach item="aiTypeId" collection="array" open="(" separator="," close=")">
            #{aiTypeId}
        </foreach>
    </delete>

    <delete id="deleteAiGameByAiTypeId" parameterType="Long">
        delete from ai_game where ai_type_id = #{aiTypeId}
    </delete>

    <insert id="batchAiGame">
        insert into ai_game( id, ai_type_id, game_type_id, level, challenged_count, win_count) values
        <foreach item="item" index="index" collection="list" separator=",">
            ( #{item.id}, #{item.aiTypeId}, #{item.gameTypeId}, #{item.level}, #{item.challengedCount}, #{item.winCount})
        </foreach>
    </insert>
</mapper>