<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gamehive.mapper.AlgorithmTypeMapper">
    
    <resultMap type="AlgorithmType" id="AlgorithmTypeResult">
        <result property="algorithmId"    column="algorithm_id"    />
        <result property="algorithmName"    column="algorithm_name"    />
        <result property="algorithmIntroduction"    column="algorithm_introduction"    />
    </resultMap>

    <sql id="selectAlgorithmTypeVo">
        select algorithm_id, algorithm_name, algorithm_introduction from algorithm_type
    </sql>

    <select id="selectAlgorithmTypeList" parameterType="AlgorithmType" resultMap="AlgorithmTypeResult">
        <include refid="selectAlgorithmTypeVo"/>
        <where>  
            <if test="algorithmName != null  and algorithmName != ''"> and algorithm_name like concat('%', #{algorithmName}, '%')</if>
        </where>
    </select>
    
    <select id="selectAlgorithmTypeByAlgorithmId" parameterType="Long" resultMap="AlgorithmTypeResult">
        <include refid="selectAlgorithmTypeVo"/>
        where algorithm_id = #{algorithmId}
    </select>

    <insert id="insertAlgorithmType" parameterType="AlgorithmType" useGeneratedKeys="true" keyProperty="algorithmId">
        insert into algorithm_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="algorithmName != null and algorithmName != ''">algorithm_name,</if>
            <if test="algorithmIntroduction != null">algorithm_introduction,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="algorithmName != null and algorithmName != ''">#{algorithmName},</if>
            <if test="algorithmIntroduction != null">#{algorithmIntroduction},</if>
         </trim>
    </insert>

    <update id="updateAlgorithmType" parameterType="AlgorithmType">
        update algorithm_type
        <trim prefix="SET" suffixOverrides=",">
            <if test="algorithmName != null and algorithmName != ''">algorithm_name = #{algorithmName},</if>
            <if test="algorithmIntroduction != null">algorithm_introduction = #{algorithmIntroduction},</if>
        </trim>
        where algorithm_id = #{algorithmId}
    </update>

    <delete id="deleteAlgorithmTypeByAlgorithmId" parameterType="Long">
        delete from algorithm_type where algorithm_id = #{algorithmId}
    </delete>

    <delete id="deleteAlgorithmTypeByAlgorithmIds" parameterType="String">
        delete from algorithm_type where algorithm_id in 
        <foreach item="algorithmId" collection="array" open="(" separator="," close=")">
            #{algorithmId}
        </foreach>
    </delete>
</mapper>