<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gamehive.mapper.RecordMapper">
	<resultMap type="com.gamehive.pojo.Record" id="RecordResult">
		<result property="recordId" column="record_id"/>
		<result property="gameTypeId" column="game_type_id"/>
		<result property="gameTypeName" column="game_type_name"/>
		<result property="recordTime" column="record_time"/>
		<result property="gameMode" column="game_mode"/>
		<result property="algorithmId" column="algorithm_id"/>
		<result property="algorithmName" column="algorithm_name"/>
		<result property="winner" column="winner"/>
		<result property="firstPlayerId" column="first_player_id"/>
		<result property="firstPlayerName" column="first_player_name"/>
		<result property="secondPlayerId" column="second_player_id"/>
		<result property="secondPlayerName" column="second_player_name"/>
		<result property="firstPlayerPieces" column="first_player_pieces"/>
		<result property="secondPlayerPieces" column="second_player_pieces"/>
	</resultMap>

	<sql id="selectRecordVo">
		select record_id,
			   game_type_id,
			   game_type_name,
			   record_time,
			   game_mode,
			   algorithm_id,
			   algorithm_name,
			   winner,
			   first_player_id,
			   first_player_name,
			   second_player_id,
			   second_player_name,
			   first_player_pieces,
			   second_player_pieces
		from record
	</sql>

	<select id="selectRecordByRecordId" parameterType="Long" resultMap="RecordResult">
		<include refid="selectRecordVo"/>
		where record_id = #{recordId}
	</select>

	<select id="selectRecordList" parameterType="Record" resultMap="RecordResult">
		<include refid="selectRecordVo"/>
		<where>
			<if test="gameTypeId != null">
				AND game_type_id = #{gameTypeId}
			</if>
			<if test="gameTypeName != null and gameTypeName != ''">
				AND game_type_name like concat('%', #{gameTypeName}, '%')
			</if>
			<if test="recordTime != null">
				AND record_time = #{recordTime}
			</if>
			<if test="gameMode != null">
				AND game_mode = #{gameMode}
			</if>
			<if test="algorithmId != null">
				AND algorithm_id = #{algorithmId}
			</if>
			<if test="algorithmName != null and algorithmName != ''">
				AND algorithm_name like concat('%', #{algorithmName}, '%')
			</if>
			<if test="winner != null">
				AND winner = #{winner}
			</if>
			<if test="firstPlayerId != null">
				AND first_player_id = #{firstPlayerId}
			</if>
			<if test="firstPlayerName != null and firstPlayerName != ''">
				AND first_player_name like concat('%', #{firstPlayerName}, '%')
			</if>
			<if test="secondPlayerId != null">
				AND second_player_id = #{secondPlayerId}
			</if>
			<if test="secondPlayerName != null and secondPlayerName != ''">
				AND second_player_name like concat('%', #{secondPlayerName}, '%')
			</if>
			<if test="params.playerName != null and params.playerName != ''">
				AND (first_player_name like concat('%', #{params.playerName}, '%') OR second_player_name like concat('%', #{params.playerName}, '%'))
			</if>
			<if test="params.currentUserId != null">
				AND (first_player_id = #{params.currentUserId} OR second_player_id = #{params.currentUserId})
			</if>
		</where>
		ORDER BY record_time DESC
		<if test="params.pageSize != null and params.pageSize > 0">
			LIMIT #{params.offset}, #{params.pageSize}
		</if>
	</select>

	<insert id="insertRecord" parameterType="Record">
		insert into record
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="recordId != null">record_id,</if>
			<if test="gameTypeId != null">game_type_id,</if>
			<if test="gameTypeName != null">game_type_name,</if>
			<if test="recordTime != null">record_time,</if>
			<if test="gameMode != null">game_mode,</if>
			<if test="algorithmId != null">algorithm_id,</if>
			<if test="algorithmName != null">algorithm_name,</if>
			<if test="winner != null">winner,</if>
			<if test="firstPlayerId != null">first_player_id,</if>
			<if test="firstPlayerName != null">first_player_name,</if>
			<if test="secondPlayerId != null">second_player_id,</if>
			<if test="secondPlayerName != null">second_player_name,</if>
			<if test="firstPlayerPieces != null">first_player_pieces,</if>
			<if test="secondPlayerPieces != null">second_player_pieces,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="recordId != null">#{recordId},</if>
			<if test="gameTypeId != null">#{gameTypeId},</if>
			<if test="gameTypeName != null">#{gameTypeName},</if>
			<if test="recordTime != null">#{recordTime},</if>
			<if test="gameMode != null">#{gameMode},</if>
			<if test="algorithmId != null">#{algorithmId},</if>
			<if test="algorithmName != null">#{algorithmName},</if>
			<if test="winner != null">#{winner},</if>
			<if test="firstPlayerId != null">#{firstPlayerId},</if>
			<if test="firstPlayerName != null">#{firstPlayerName},</if>
			<if test="secondPlayerId != null">#{secondPlayerId},</if>
			<if test="secondPlayerName != null">#{secondPlayerName},</if>
			<if test="firstPlayerPieces != null">#{firstPlayerPieces},</if>
			<if test="secondPlayerPieces != null">#{secondPlayerPieces},</if>
		</trim>
	</insert>

	<select id="selectRecordHeatmap" parameterType="Record" resultType="java.util.Map">
		SELECT 
			DATE(record_time) as date,
			COUNT(*) as count
		FROM record
		<where>
			<if test="gameTypeId != null">
				AND game_type_id = #{gameTypeId}
			</if>
			<if test="gameMode != null">
				AND game_mode = #{gameMode}
			</if>
			<if test="algorithmId != null">
				AND algorithm_id = #{algorithmId}
			</if>
			<if test="winner != null">
				AND winner = #{winner}
			</if>
			<if test="params.playerName != null and params.playerName != ''">
				AND (first_player_name like concat('%', #{params.playerName}, '%') OR second_player_name like concat('%', #{params.playerName}, '%'))
			</if>
			<if test="params.currentUserId != null">
				AND (first_player_id = #{params.currentUserId} OR second_player_id = #{params.currentUserId})
			</if>
		</where>
		GROUP BY DATE(record_time)
		ORDER BY DATE(record_time)
	</select>

	<select id="selectRecordDetailByRecordId" parameterType="Long" resultType="java.util.Map">
		SELECT 
			r.record_id,
			r.game_type_id,
			r.game_type_name,
			r.record_time,
			r.game_mode,
			r.algorithm_id,
			r.algorithm_name,
			r.winner,
			r.first_player_id,
			r.first_player_name,
			r.second_player_id,
			r.second_player_name,
			r.first_player_pieces,
			r.second_player_pieces,
			gt.game_id,
			gt.game_name,
			gt.game_introduction,
			gt.game_rule,
			gt.board_size,
			gt.min_valid_pieces,
			gt.is_cell_center
		FROM record r
		LEFT JOIN game_type gt ON r.game_type_id = gt.game_id
		WHERE r.record_id = #{recordId}
	</select>

	<select id="selectRecordsByPlayerId" parameterType="Long" resultMap="RecordResult">
		<include refid="selectRecordVo"/>
		WHERE first_player_id = #{userId} OR second_player_id = #{userId}
		ORDER BY record_time DESC
	</select>

	<select id="selectRecordCount" parameterType="Record" resultType="long">
		select count(1) from record
		<where>
			<if test="gameTypeId != null">
				AND game_type_id = #{gameTypeId}
			</if>
			<if test="gameTypeName != null and gameTypeName != ''">
				AND game_type_name like concat('%', #{gameTypeName}, '%')
			</if>
			<if test="recordTime != null">
				AND record_time = #{recordTime}
			</if>
			<if test="gameMode != null">
				AND game_mode = #{gameMode}
			</if>
			<if test="algorithmId != null">
				AND algorithm_id = #{algorithmId}
			</if>
			<if test="algorithmName != null and algorithmName != ''">
				AND algorithm_name like concat('%', #{algorithmName}, '%')
			</if>
			<if test="winner != null">
				AND winner = #{winner}
			</if>
			<if test="firstPlayerId != null">
				AND first_player_id = #{firstPlayerId}
			</if>
			<if test="firstPlayerName != null and firstPlayerName != ''">
				AND first_player_name like concat('%', #{firstPlayerName}, '%')
			</if>
			<if test="secondPlayerId != null">
				AND second_player_id = #{secondPlayerId}
			</if>
			<if test="secondPlayerName != null and secondPlayerName != ''">
				AND second_player_name like concat('%', #{secondPlayerName}, '%')
			</if>
			<if test="params.playerName != null and params.playerName != ''">
				AND (first_player_name like concat('%', #{params.playerName}, '%') OR second_player_name like concat('%', #{params.playerName}, '%'))
			</if>
			<if test="params.currentUserId != null">
				AND (first_player_id = #{params.currentUserId} OR second_player_id = #{params.currentUserId})
			</if>
		</where>
	</select>
</mapper>